<footer>
  <div class="bg-blue-600 py-4 flex justify-center">
    <div class="text-white">
      <a href="https://github.com/brandonroberts/astro-blog">Source Code</a> - © Copyright 2019-2021
    </div>
  </div>
</footer>