---
import { format } from 'date-fns';

function isPost(post: any, liveStreams: boolean) {
  if (liveStreams) {
    return post.title.includes('Unfiltered');  
  }

  return !post.title.includes('Unfiltered');
}

const { live } = Astro.props;

let allPosts = Astro.fetchContent('../pages/blog/posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishedDate).valueOf() - new Date(a.publishedDate).valueOf());

const posts = allPosts.filter(post => post.published && isPost(post, live));
---

<div class="text-2xl w-4/5">
  {posts.map(post => {
    return (
      <div class="py-4">
        <a href={'/blog/posts/' + post.slug} class="text-gray-600">{post.title}</a>

        <p class="text-sm">
          {format(new Date(post.publishedDate), 'MMMM dd, yyyy')}
        </p>
    </div>
    );
  })}
</div>