---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html>
  <head>
    <title>Brandon Roberts - Web Developer</title>   
    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")} />
  </head>

  <body>
    <Header />
      <slot/>
    <Footer />
  </body>
</html>